body {
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('/background.jpg');
    background-size: cover;
}
.auto-style1 {
    width: 101%;
    position: absolute;
    height: 25%;
    left: 3px;
    top: 13px;
    background-image: url('/banner1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    text-align: left;
    background-position: center;
    vertical-align: bottom;
    color: #FFFFFF
}

.auto-style2 {
    width: 31%;
    height: 79%;
    position: absolute;
    left: 11px;
    top: 142px;
    padding-top: 33px;
    padding-left: 0px;
    vertical-align: middle;
    text-align: left;
}

.auto-style3 {
    height: 503px;
    margin-left: 1px;
    margin-top: 5px;
    position: absolute;
    left: 174px;
    top: 140px;
    width: 357px;
    margin-right: 187px;
    text-align: justify;
    padding-top: 33px;
    padding-right: 0px;
    font-size: medium;
    padding-left: 30%;
    vertical-align: middle;
}
